In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [33]:
df = pd.read_csv('D:/shell hackathon 2022 github/Shell_Datathon_2022/data/Demand_History.csv')
df

,demand_point_index,x_coordinate,y_coordinate,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,0,0.5,0.5,0.352242,0.667932,0.958593,2.911901,4.338274,6.561995,8.454417,10.595324,13.119572
1,1,1.5,0.5,0.325940,0.591964,0.862652,2.589068,4.196034,5.745551,8.753195,11.126995,12.020091
2,2,2.5,0.5,0.373752,0.591890,0.969733,2.641432,3.541772,5.469161,8.414627,10.115336,14.018254
3,3,3.5,0.5,0.420686,0.584055,0.906547,2.378577,3.888121,5.846089,9.083868,12.424885,15.012302
4,4,4.5,0.5,0.475621,0.647940,0.981544,2.665400,4.218711,6.776609,8.851107,11.731131,16.355563
...,...,...,...,...,...,...,...,...,...,...,...,...
4091,4091,59.5,63.5,0.171015,0.334565,0.556055,1.373291,1.837586,2.517146,3.352280,4.149888,5.426193
4092,4092,60.5,63.5,0.041716,0.061741,0.131291,0.386540,0.755846,0.941116,1.107797,1.309479,2.057450
4093,4093,61.5,63.5,0.100895,0.180352,0.296299,0.705373,1.300220,1.608609,1.822806,2.333681,3.218519
4094,4094,62.5,63.5,0.155353,0.290825,0.557803,1.516066,2.399426,2.719197,4.494515,6.096858,6.262574
4095,4095,63.5,63.5,0.209372,0.340185,0.749491,1.904285,2.775772,3.404641,4.574922,6.301078,6.860939

In [34]:
infra_df = pd.read_csv('D:/shell hackathon 2022 github/Shell_Datathon_2022/data/exisiting_EV_infrastructure_2018.csv')
infra_df

,supply_point_index,x_coordinate,y_coordinate,total_parking_slots,existing_num_SCS,existing_num_FCS
0,0,50.163110,19.412014,23,5,3
1,1,37.336451,58.119225,27,4,7
2,2,46.709232,57.525650,31,6,14
3,3,30.528626,55.379835,26,5,5
4,4,51.521781,35.116755,32,11,6
...,...,...,...,...,...,...
95,95,45.471204,20.999414,24,3,4
96,96,30.318396,33.388335,32,5,10
97,97,36.218839,22.235766,32,4,14
98,98,42.936915,38.122442,28,7,5
99,99,19.590263,3.830284,24,2,11

In [35]:
cap_of_scs = 200
cap_of_fcs = 400
sdf = pd.DataFrame()
sdf['smax'] = (cap_of_scs * infra_df['existing_num_SCS']) + (cap_of_fcs * infra_df['existing_num_FCS'])
sdf[infra_df.columns] = infra_df[infra_df.columns]

In [36]:
sdf

,smax,supply_point_index,x_coordinate,y_coordinate,total_parking_slots,existing_num_SCS,existing_num_FCS
0,2200,0,50.163110,19.412014,23,5,3
1,3600,1,37.336451,58.119225,27,4,7
2,6800,2,46.709232,57.525650,31,6,14
3,3000,3,30.528626,55.379835,26,5,5
4,4600,4,51.521781,35.116755,32,11,6
...,...,...,...,...,...,...,...
95,2200,95,45.471204,20.999414,24,3,4
96,5000,96,30.318396,33.388335,32,5,10
97,6400,97,36.218839,22.235766,32,4,14
98,3400,98,42.936915,38.122442,28,7,5
99,4800,99,19.590263,3.830284,24,2,11

In [37]:
tdf=pd.read_csv('D:/shell hackathon 2022 github/Shell_Datathon_2022/predictions/arima_pred_latest.csv')
tdf

      Unnamed: 0  pred_2019  pred_2020
0              0  15.539544  17.959517
1              1  13.160288  14.300485
2              2  17.232578  20.446903
3              3  17.185220  19.358138
4              4  21.079744  25.803925
...          ...        ...        ...
4091        4091   6.572086   7.717979
4092        4092   2.936648   3.815846
4093        4093   4.293351   5.368183
4094        4094   7.079237   7.895901
4095        4095   7.819941   8.778943

[4096 rows x 3 columns]

In [38]:
sdf['smax'].shape

(100,)

In [39]:
x=[0]*4096
for i in range(0,4096):
  x[i]=[df.iloc[i,1],df.iloc[i,2]]
x=np.array(x)
# x
y=[0]*100
for j in range(0,100):
  y[j]=[sdf.iloc[j,1],sdf.iloc[j,2]]
y=np.array(y)
# y

In [40]:
import numpy as np
from scipy.spatial import distance_matrix
dist = distance_matrix(x, y, p=2)

In [41]:
min_dist=np.copy(dist)
print(dist[2][1],dist[3][1])

36.86697827717591 36.92118751191192

In [42]:
min_row=min_dist.min(axis = 1)
print(min_row[100])

print(min_dist[101][92])

3.905959046830517
66.16651420816879

In [43]:
#descending sort

for i in range(4096):
  for j in range(100):
    for k in range(j+1,100):
      if min_dist[i][j]<min_dist[i][k]:
        min_dist[i][j],min_dist[i][k]=min_dist[i][k],min_dist[i][j]

In [44]:
tps = np.asanyarray(sdf['total_parking_slots'])
scs=np.asanyarray(sdf['existing_num_SCS'])
fcs = np.asanyarray(sdf['existing_num_FCS'])
smax=np.asanyarray(sdf['smax'])
di=np.asanyarray(tdf['pred_2019'])
di_desending = np.sort(di)[::-1]
max_smax=[0]*100
for i in range(100):
  max_smax[i]=smax[i]+((tps[i]-(fcs[i]+scs[i]))*400)
# rows, cols = (4096, 100)
# ds= [[0]*cols]*rows
ds= np.zeros(shape=(4096, 100), dtype=float)
for i in range(4096):
  for j in range(100):
    if dist[i,j]==min_row[i]:
      ds[i,j]=di[i]

In [46]:
# add=np.sum(ds,axis=1)
# for i in range(4096):
#   # print(add[i]-di[i])

In [47]:
ds[1][1]

0.0

In [48]:
new_ds=np.copy(ds)

In [50]:
# sum=np.sum(ds,axis=0)
# for i in range(100):
#   # print(sum[i]-max_smax[i])

In [51]:
# for i in range(100):
#   if (sum[i]-max_smax[i])>0:
    # print(sum[i]-max_smax[i],i)

In [52]:
for j in range(100):
  for i in range(4096):
    if (sum[j]-max_smax[j])>0:
      if ds[i,j]>0:
        for k in range(100):
          if dist[i,k]==min_dist[i,89] and (sum[k]-max_smax[k])<0:
            #  print('ok')
             v=ds[i,j]
             ds[i,j]=0
             sum[j]=sum[j]-v
             ds[i,k]=v
             sum[k]=sum[k]+v

In [53]:
import math
for i in range(0,100):
   if (sum[i]-smax[i])>0:
     a = sum[i]-smax[i]
     if a>200 and (tps[i]-(fcs[i]+scs[i]))>0:
       count_fcs = math.ceil(a/400)
       if((count_fcs*400)-a)>=200:
         count_fcs=count_fcs-1
         count_scs=1
         count=(count_fcs+count_scs)
         if count<=(tps[i]-(fcs[i]+scs[i])):
            fcs[i]+=count_fcs
            scs[i]+=count_scs
            a=a-((count_fcs*400)+(count_scs*200))
         else:
           count_fcs+=1
       if ((count_fcs*400)-a)<200:
         count=count_fcs
         if count<=(tps[i]-(fcs[i]+scs[i])):
            fcs[i]+=count
            a=a-(count*400)
     if a<=200 and(tps[i]-(fcs[i]+scs[i]))>0:
       count = math.ceil(a/200)
       if count<=(tps[i]-(fcs[i]+scs[i])):
         scs[i]+=count
         a=a-(count*200)
#    print(a)

In [55]:
# for i in range(0,100):
#   smax[i]=((400*fcs[i])+(200*scs[i]))
# for j in range(0,100):
#   if (sum[j]-smax[j])<=0:
    # print(sum[j]-smax[j],tps[j]-(fcs[j]+scs[j]),tps[j],scs[j],fcs[j])

In [56]:
demand_point=[]
supply_point=[]
value=[]
for i in range(4096):
  for j in range(100):
    demand_point.append(i)
    supply_point.append(j)
    value.append(ds[i][j])

In [57]:
len(supply_point)
data_type=['DS']*409600
year=['2019']*409600

In [58]:
gdf=pd.DataFrame(demand_point,columns=['demand_point'])
gdf['data_type']=data_type
gdf['supply_point']=supply_point
gdf['value']=value
gdf['year']=year
# gdf.to_csv('/content/arima_2019_ds.csv')

In [59]:
year=['2019']*200

In [60]:
list=[]
list2=[]
list3=[]
for i in range(100):
  list.append(scs[i])
  list3.append(i)
  list2.append('SCS')
for k in range(100):
  list.append(fcs[k])
  list3.append(k)
  list2.append('FCS')
hdf=pd.DataFrame(list2,columns=['data_type'])
hdf['suppy_point']=list3
hdf['value']=list
hdf['year']=year
hdf

    data_type  suppy_point  value  year
0         SCS            0      5  2019
1         SCS            1      4  2019
2         SCS            2      6  2019
3         SCS            3      5  2019
4         SCS            4     11  2019
..        ...          ...    ...   ...
195       FCS           95      4  2019
196       FCS           96     10  2019
197       FCS           97     14  2019
198       FCS           98      5  2019
199       FCS           99     11  2019

[200 rows x 4 columns]

In [ ]:
# hdf.to_csv('/content/arima_2019_cs.csv')

In [ ]:
# pdf=pd.DataFrame(scs,columns=['scs'])
# pdf['fcs']=fcs
# pdf['tps']=tps
# pdf['smax_2019']=smax
# pdf.to_csv('/content/arima_2019_smax.csv')

In [61]:
# mdf=pd.read_csv('/content/2019_cs.csv')
# mdf

In [62]:
# for i in range(200):
#   print(mdf['value'][i]-hdf['value'][i])

In [63]:
# jdf=pd.read_csv('/content/new_2019_cs.csv')
# jdf